<div class="pagination">
  <a class="pagination__prev" href="#">@@include('../../assets/arrow.svg')</a>
  <a class="pagination__number" href="#">1</a>
  <a class="pagination__number" href="#" class="active">2</a>
  <a class="pagination__number" href="#">3</a>
  <a class="pagination__number" href="#">4</a>
  <a class="pagination__number active" href="#">5</a>
  <a class="pagination__number" href="#">6</a>
  <a class="pagination__number" href="#">7</a>
  <a class="pagination__number" href="#">8</a>
  <a class="pagination__number" href="#">9</a>
  <a class="pagination__number" href="#">10</a>
  <a class="pagination__next" href="#">@@include('../../assets/arrow.svg')</a>
</div>