.achievement {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 13px;
  width: 300px;
  height: 308px;
  
  @include md {
    flex-direction: row;
    padding: 28px;
    width: 697px;
    height: 261px;
  }

  @include xl {
    width: 100%;
    height: 338px;
  }

  &__image {
    width: 100%;
    height: 179px;
    margin-bottom: 13px;

    img {
      width: 100%;
      height: 100%;
    }

    @include md {
      max-width: 298px;
      height: 100%;
      margin-bottom: 0;
      margin-right: 21px;
    }

    @include xl {
      max-width: 497px;
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    position: relative;
    @include md {
      width: 334px;
    }
    @include xl {
      width: 514px;
      justify-content: center;
    }

    .title {
      font-weight: 700;
      font-size: 16px;
      line-height: 20px;
      letter-spacing: -0.02em;
      color: $gray-2;
      @include clampLine(3);

      @include md {
        font-weight: 700;
        font-size: 24px;
        line-height: 29px;
        @include clampLine(5);
      }

      @include xl {
        padding-right: 39px;
      }
    }

    .date {
      display: inline-flex;
      align-self: flex-end;
      font-weight: 400;
      font-size: 14px;
      line-height: 17px;
      letter-spacing: -0.02em;
      color: $orange;
      font-style: italic;

      @include xl {
        position: absolute;
        bottom: 0;
      }
    }

  }

}
