$paddingBkLg: 80px;

blockquote {
  position: relative;
  display: flex;
  flex-direction: column;
  background-color: $gray-6;
  color: $gray-2;
  letter-spacing: -0.02em;
  transition: 0.2s border ease-in-out;
  margin-bottom: 10px;
  padding-left: calc(($paddingBkLg / 2) + 11px);
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 1rem;
  
  @include xl {
    padding-left: calc($paddingBkLg + 12px);
  }

  &:before {
    z-index: 0;
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    background-color: $blue;
    padding-left: calc($paddingBkLg / 2);

    background-image: url('../assets/svg/blockquote.svg');
    background-position: center 10px;
    background-repeat: no-repeat;
    background-size: 70% 20px;

    @include xl {
      padding-left: $paddingBkLg;
    }
  }
  
  cite {
    text-align: right;
    font-weight: 400;
    font-size: 13px;
    line-height: 16px;
    letter-spacing: -0.02em;
    color: $blue;
    margin-top: 10px;
  }
}
