.breadcrumbs {
  min-height: 8px;
  border-bottom: solid 4px $gray-4-1;
  
  a {
    color: $gray-2;
  }

  &__list {
    display: flex;
    padding: 0.7rem 0;
    list-style: none; 
  }

  &__item {
    @include pr(25px);
    position: relative;

    a {
      font-weight: 500;
      font-size: 13px;
      line-height: 16px;
      color: $blue;

      @include hover {
        color: $brown;
      }
    }

    .seporator {
      position: absolute;
      width: 5px;
      height: 5px;
      border-radius: 50%;
      background: $blue;
      right: 10px;
      top: 50%;
      transform: translate(0, -40%);
    }
  }

  &__item.current {
    a {
      color: $brown;
    }
    .seporator {
      display: none;
    }
  }
}