.contact-card {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 0 15px 7px;
  text-align: center;
  width: 100%;
  height: 222px;
  width: 300px;
  
  @include md {
    height: 254px;
    width: 340px;
  }
  @include xxl {
    width: 381px;
  }

  &__job-title {
    @include flex-all-center;
    letter-spacing: -0.02em;
    font-weight: 500;
    font-size: 22px;
    line-height: 27px;
    color: $orange;
    height: 60px;

  }

  &__name {
    @include flex-all-center;
    padding: 0 5px;
    flex-direction: column;
    font-size: 20px;
    line-height: 24px;
    font-weight: 700;
    height: 56px;
    letter-spacing: -0.02em;
  }

  &__contact {
    @include flex-all-center;
    flex-direction: column;
    height: 65px;
    font-weight: 400;
    font-size: 22px;
    line-height: 27px;
    letter-spacing: -0.02em;
    word-break: break-word;
  }
}
