.main-section-decore {
  display: none;

  @include md {
    display: block;
  }
}

.page-decore {
  position: absolute;
  z-index: -1;

  &.z-0 {
    z-index: 0;
  }

  svg {
    width: 320px;
    height: 93.08px;

    @include md {
      width: 518.22px;
      height: 150.74px;
    }
  }

  &.default-size svg {
    width: auto;
    height: auto;
  }

  &--bottom {
    bottom: 0;
  }

  &--bottom-down {
    bottom: -4px;
  }

  &--right {
    right: 0;
  }

  &--left {
    left: 0;
  }

  &--reverse {
    transform: scaleX(-1);
  }

  &.extra-news-wariant {
    width: 50%;
    transform: translateY(-100%);
    svg {
      width: 100%;
      height: 100%;
    }
  }
}
