.footer {
  color: $white;
  background-color: #007DB6;
  
  a {
    color: $white;
  }

  .wrapper__navigate {
    padding-top: 25px;
    padding-bottom: 32px;
    margin-bottom: 10px;
    position: relative;

    @include md {
      padding-top: 40px;
      padding-bottom: 25px;
      margin-bottom: 0;
    }
    @include xl {
      padding-bottom: 44px;
    }

    .decore {
      position: absolute;
      bottom: 0%;
      left: 40%;
    }

    .navigate {
      display: flex;
      justify-content: space-around;
      flex-wrap: wrap;
      text-align: center;

      @include md {
        text-align: left;
        justify-content: left;
      }
      @include xl {
        justify-content: space-between;
      }

      h4 {
        font-weight: 500;
        font-size: 23px;
        line-height: 28.04px;
        margin-bottom: 25px;
      }

      li a {
        font-weight: 500;
        font-size: 13px;
        line-height: 16px;

        @include hover {
          color: $dark-blue;

          svg {
            fill: $white;
          }
        }
      }

      &__social {
        order: 3;

        p {
          margin-bottom: 41px;
        }

        ul {
          display: flex;
          flex-wrap: wrap;
          width: 150px;
          
          li {
            flex: 0 0 33.333%;
            margin-bottom: 13px;
            display: flex;
            align-items: center;
            justify-content: center;
            
            svg {
              max-width: 36px;
              height: 36px;
            }

            &:hover {
              svg path {
                fill: #194262;
              }
            }
          }
        }
      }

      &__connect {
        order: 2;

        @include md {
          margin-right: 126px;
        }
        @include xl {
          margin-right: 0;
        }

        .contacts {
          margin-bottom: 45px;

          &__item {
            display: flex;
            align-items: center;
            margin-right: 13px;
            margin-bottom: 1rem;
            span {
              margin-right: 13px;
            }
          }
        }
      }

      &__links {
        margin-bottom: 31px;
        order: 1;

        p {
          margin-bottom: 23px;
        }

        .footer-nav {
          li {
            margin-bottom: 7px;
          }

          li a {
            line-height: 23px;
          }
        }
      }

      &__address {
        order: 4;

        .logo a {
          display: flex;
          margin-bottom: 20px;

          div {
            display: flex;
            justify-content: center;
            flex-direction: column;

            p {
              font-weight: 600;
              font-size: 13px;
              line-height: 16px;
            }
          }
  
          img {
            width: 70px;
            margin-right: 12px;
          }
        }

        .location {
          margin-bottom: 36px;

          span {
            right: calc(100% + 6px);
            svg {
              margin-bottom: 11px;
              margin-right: 19px;
            }
          }

          &__link {
            display: inline-block;
            font-weight: 500;
            font-size: 11px;
            line-height: 16px;
            max-width: 205px;
          }
        }
      }
    }
  }

  .wrapper__copyright {
    @include flex-all-center;
    background-color: $dark-blue;
    height: 50px;
    font-weight: 500;
    font-size: 11px;
    line-height: 13px;

    .copyright-text {
      color: $white;
    }
  }
}
