.news-card {
  display: flex;
  flex-direction: column;
  padding: 13px;
  height: 452px;
  $this: &;
  
  &:hover {
    #{$this}__img img {
      transition: ease-in-out 0.344s;
      transform: scale(1.1);
    }
  }

  @include md {
    height: 643px;
    padding: 22px;
  }

  @include lg {
    flex-direction: row;
    height: 338px
  }

  &__img {
    @include flex-all-center;
    height: 155px;
    margin-bottom: 9px;

    img {
      width: 100%;
      height: 100%;
    }

    @include md {
      height: 373px;
      margin-bottom: 13px;
    }

    @include lg {
      height: 282px;
      min-width: 497px;
      overflow: hidden;
      margin-right: 48px;
      margin-bottom: 0;
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    height: 100%;

    &:hover {
      .title {
        color: $orange;
      }
      .text {
        color: $gray-2;
      }
    }

    .title {
      font-weight: 700;
      font-size: 20px;
      line-height: 24px;
      letter-spacing: -0.02em;
      color: $gray-2;
      margin-bottom: 10px;

      @include md {
        font-size: 24px;
        line-height: 29px;
      }

      @include lg {
        margin-bottom: 20px;
      }
    }

    .text {
      font-weight: 500;
      font-size: 20px;
      line-height: 24px;
      letter-spacing: -0.02em;
      @include clampLine(7);
      margin-bottom: auto;
      color: $gray-2;

      @include md {
        @include clampLine(3);
        font-size: 24px;
        line-height: 29px;
      }

      @include lg {
        @include clampLine(6);
      }
    }

    .date {
      font-style: italic;
      font-weight: 400;
      font-size: 16px;
      line-height: 20px;
      text-align: right;
      letter-spacing: -0.02em;
      color: $orange;

      @include md {
        font-size: 22px;
        line-height: 27px;
      }
    }
  }
}
