.news-item-title-and-date {
  margin-bottom: 14px;
  margin-top: 6px;

  @include md {
    margin-bottom: 32px;
    margin-top: 25px;
  }
  @include xl {
    margin-bottom: 40px;
    margin-top: 53px;
  }

  &__title {
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: -0.015em;
    color: $blue;
    margin-bottom: 18px;
    text-align: center;

    @include md {
      max-width: 86%;
      text-align: left;
      font-size: 20px;
      line-height: 24px;
    }
  }

  &__date {
    font-weight: 400;
    font-size: 13px;
    line-height: 16px;
    text-align: center;
    letter-spacing: -0.02em;
    color: $brown;
    font-style: italic;

    @include md {
      text-align: left;
    }
  }
}
