.product-pakaged {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  height: 236px;

  @include md {
    height: 407px;
  }

  @include xl {
    height: 368px;
  }

  &__image {
    @include bg-cover;
    background-image: url('../assets/img/product-item-1.jpg');
    width: 100%;
    height: 156px;

    @include md {
      height: 249px;
    }

    @include xl {
      height: 100%;
    }
  }

  &__context-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    
    @include xl {
      display: none;
    }

    .title {
      font-weight: 500;
      font-size: 16px;
      line-height: 25px;
      color: $gray-2;

      @include md {
        font-size: 20px;
        line-height: 36px;
      }

      @include xl {
        font-size: 30px;
      }
    }

    .subtitle {
      display: inline-block;
      padding: 5px;
      font-weight: 500;
      font-size: 24px;
      line-height: 29px;
      background-color: $orange;
      color: $white;

      @include xl {
        &.is-hidden {
          display: inline-block !important;
        }
      }
    }
  }

  @include xl {
    &:hover {
      .product-pakaged__context-wrapper {
        display: flex;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        padding: 0;
        background: rgba(255, 255, 255, 0.77);

        .title {
          margin-bottom: 29px;
        }
      }
    }
  }
}
