.questions-card {
  display: flex;
  justify-content: space-between;
  padding: 10px 14px 8px 8px;

  @include md {
    padding: 20px 45px 28px 28px;
  }

  .btn-arrow {
    @include flex-all-center;
    flex: 1 0 auto;
    width: 25px;
    height: 25px;
    border: 2px solid #828282;
    border-radius: 50%;

    svg {
      width: 15px;
      height: 15px;
      transform: rotate(90deg);
      transition: transform 0.33s;

      path {
        fill: #828282;
      }
    }

    &.active {
      border-color: $orange;

      svg {
        transform: rotate(-90deg);
      }

      svg path {
        fill: $orange;
      }
    }

    @include md {
      width: 49px;
      height: 49px;
      border: 3px solid #828282;

      svg {
        width: 15px;
        height: 25px;
      }
    }
  }

  .content {
    padding-right: 10px;

    p {
      font-weight: 500;
      font-size: 14px;
      line-height: 17px;

      letter-spacing: -0.02em;
    }

    .user-info {
      font-style: italic;
      font-weight: 400;
      font-size: 13px;
        line-height: 16px;
      
      letter-spacing: -0.02em;
      color: $gray-2;
    }

    &__question {
      color: $gray-2;
      margin-bottom: 10px;
      
    }

    &__answer {
      padding-top: 10px;
      color: $orange;
    }

    @include md {
      padding-right: 40px;

      p {
        font-size: 24px;
        line-height: 29px;
      }

      span {
        font-size: 18px;
      line-height: 22px;
      }

      &__question {
        margin-bottom: 20px;
      }

      &__answer {
        padding-top: 20px;
      }
    }
  }
}
