<div class="social-bar">
  <p class="social-bar__title">Поделиться новостью</p>

  <ul class="social-bar__list list-reset">
    <li class="social-bar__icone">
      <a href="#">
        @@include('../../assets/social-bar/fb.svg')
      </a>
    </li>
    <li class="social-bar__icone">
      <a href="#">
        @@include('../../assets/social-bar/instagram.svg')
      </a>
    </li>
    <li class="social-bar__icone">
      <a href="#">
        @@include('../../assets/social-bar/telegram.svg')
      </a>
    </li>
    <li class="social-bar__icone">
      <a href="#">
        @@include('../../assets/social-bar/youtube.svg')
      </a>
    </li>
    <li class="social-bar__icone">
      <a href="#">
        @@include('../../assets/social-bar/ok.svg')
      </a>
    </li>
    <li class="social-bar__icone">
      <a href="#">
        @@include('../../assets/social-bar/vk.svg')
      </a>
    </li>
    <li class="social-bar__icone">
      <a href="#">
        @@include('../../assets/social-bar/twitter.svg')
      </a>
    </li>
  </ul>
</div>