<div class="job-card">
  <div class="job-card__img">
    <img src="@@image" alt="news image" />
  </div>

  <div class="job-card__content">
    <div class="flow">
      <p class="parametr">Вакансия:</p>
      <p class="data">Название вакансии</p>
    </div>

    <div class="flow">
      <p class="parametr">Зарплата:</p>
      <p class="data">от хххх рублей</p>
    </div>

    <div class="flow">
      <p class="parametr">Требования:</p>
      <p class="data">Краткое описание квалификаций</p>
    </div>

    <div class="flow">
      <p class="parametr">Обязанности:</p>
      <p class="data">Краткое описание должностных обязанностей</p>
    </div>
  </div>
</div>
