.contacts-page {
  &__map {
    margin: auto;
    height: 115px;
    margin-top: 13px;
    margin-bottom: 15px;

    @include md {
      height: 269px;
      margin-top: 25px;
      margin-bottom: 50px;
    }

    @include xl {
      height: 360px;
      margin-top: 60px;
    }
  }

  h2 {
    color: $blue;
    margin-bottom: 25px;
  }

  .text {
    margin-top: 20px;
    margin-bottom: 20px;
  }

  .contacts-boards {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column-reverse;
    margin: 0 auto;
    margin-top: 30px;
    margin-bottom: 20px;

    @include lg {
      margin-bottom: 50px;
      margin-top: 60px;
      flex-direction: row;
    }

    .wrap--first {
      display: flex;
      flex-direction: column;
      flex: 1 0 auto;
      gap: 30px;
      margin-right: 0px;

      @include md {
        flex-direction: row;
        gap: 64px;
      }

      @include lg {
        flex-direction: column;
        gap: 35px;
        margin-bottom: 0;
      }

      @include rwd(1046) {
        margin-right: 30px;
      }
      @include rwd(1149) {
        margin-right: 64px;
      }
    }

    .wrap--second {
      display: flex;
      flex-direction: column;
      gap: 30px;
      flex: 1 0 auto;
      margin-bottom: 30px;

      @include md {
        gap: 64px;
        flex-direction: row;
      }

      @include lg {
        margin-bottom: 0;
        gap: 0;
      }
      @include rwd(1046) {
        gap: 30px;
      }
      @include rwd(1149) {
        gap: 64px;
      }
    }

    .board-card {
      display: flex;
      flex-direction: column;
      border: 3px solid $gray-5;
      border-radius: 12px;
      padding: 16px 14px;
      width: 100%;
      flex: 1 0 33.3333%;

      .title {
        display: flex;
        align-items: center;

        font-weight: 700;
        font-size: 14px;
        line-height: 17px;
        color: $blue;
        margin-bottom: 23px;
        padding-left: 60px;

        svg {
          margin-right: 0.74rem;
        }
      }

      .content {
        font-size: 14px;
        line-height: 22px;

        ul li {
          margin-bottom: 0.77rem;
        }
      }
    }

    .board-card--address {
      .content {
        margin-bottom: 20px;
      }
    }

    .board-card--requisites {
      position: relative;

      .decore-img {
        display: none;
        position: absolute;
        right: 5%;
        bottom: 100%;

        @include md {
          display: block;
        }
      }
    }
  }
}
