.error-page {
  background: $gray-4-1;

  .error-content-wrapper {
    @include flex-all-center;
    flex-direction: column;
    position: relative;
    min-height: 300px;

    @include md {
      height: 382px;
    }
    @include xl {
      height: 954px;
    }

    img {
      height: 100%;
    }

    h3 {
      position: absolute;
      bottom: 10%;
      font-weight: 700;
      font-size: 16px;
      line-height: 20px;

      color: $gray-3;

      @include md {
        font-size: 36px;
        line-height: 44px;
      }

      @include xl {
        font-size: 40px;
        line-height: 49px;
      }
    }

    .link-go-home {
      position: absolute;
      @include flex-all-center;
      top: 8px;
      left: 50%;
      transform: translateX(-50%);

      width: 76px;
      height: 18px;
      font-weight: 500;
      font-size: 8px;
      line-height: 10px;
      color: $gray-2;

      background-color: transparent;

      border: 1px solid $gray-3;
      border-radius: 5px;

      @include hover {
        background-color: $blue;
        border-color: $blue;
        color: $white !important;
        transition: all 0.3s;
      }

      @include md {
        top: 18px;
        font-size: 14px;
        line-height: 17px;
        width: 134px;
        height: 28px;
        border-width: 2px;
      }

      @include xl {
        top: 62px;
        width: 226px;
        height: 54px;
        font-size: 18px;
        line-height: 22px;
        border-radius: 10px;
      }
    }
  }
}
