.for-client {
  .layout {
    margin-bottom: 0;
  }
  &__content {

    .title {
      font-weight: 500;
      font-size: 24px;
      line-height: 29px;

      color: $black;
      margin-bottom: 28px;

      @include md {
        font-size: 36px;
        line-height: 44px;
      }
    }

    .text {
      margin-bottom: 20px;
      font-size: 16px;
      line-height: 20px;

      @include md {
        line-height: 22px;
      }
    }

  }

  .image-wrapper {
    display: grid;
    align-items: center;
    justify-items: center;
    row-gap: 16px;
    
    * {
      align-self: center;
      justify-self: center;
    }

    @include md {
      grid-template-columns: repeat(2, 1fr);
      gap: 20px;
      margin-bottom: 40px;
    }

    @include xl {
      grid-template-columns: repeat(3, 1fr);
      margin-bottom: 70px;
    }
  }
  .download {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    @include hover {
      path {
        fill: $orange;
      }
    }
  }
  .download-icon {
    margin-right: 24px;
  }
}
