@import 'index';
@import 'us-stores';
@import 'for-client';
@import 'answer-and-question';
@import 'reviewes';
@import 'achievements';
@import 'news-variant-1';
@import 'news-variant-2';
@import 'news-list';
@import 'news-item';
@import 'product-list';
@import 'packaged-products-list';
@import 'packaged-product-item';
@import 'contacts';
@import 'error-page';