.news-item-page {
  &__content-wrapper {
    padding-bottom: 15px;

    @include md {
      padding-bottom: 45px;
    }

    @include xl {
      padding-bottom: 56px;
    }

    p {
      font-weight: 500;
      font-size: 16px;
      line-height: 20px;
      letter-spacing: -0.02em;
      color: $gray-2;

      @include md {
        font-size: 24px;
        line-height: 29px;
      }
    }
  }

  &__image-grid {
    display: grid;
    align-items: center;
    justify-items: center;
    row-gap: 16px;

    a {
      overflow: hidden;
      display: inline-block;
      height: 180px;

      &:hover {
        img {
          transform: scale(1.01);
        }
      }
    }

    @include md {
      grid-template-columns: repeat(2, 1fr);
      gap: 17px;

      img {
        height: 100%;
      }

      a {
        overflow: hidden;
        display: inline-block;
        height: 208px;
  
        &:hover {
          img {
            transform: scale(1.01);
          }
        }
      }
    }

    @include xl {
      grid-template-columns: repeat(3, 1fr);
      gap: 25px;

      a {
        overflow: hidden;
        display: inline-block;
        height: 348px;
  
        &:hover {
          img {
            transform: scale(1.01);
          }
        }
      }
    }
  }
}