.production-catalog {
  .pagination {
    justify-content: center;
  }

  .text-about {
    margin: 24px 0 66px 0;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;

    @include md {
      text-align: left;
      max-width: 913px;
    }
  }

  &-menu {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 12px 0;

    .menu-list-item {
      display: flex;
      align-self: flex-end;
      margin-bottom: 0.6rem;

      @include md {
        margin-bottom: 0;
      }
    }
    .menu-list-item a {
      @include flex-all-center;
      color: $blue;

      &:hover {
        color: $brown;

        svg path {
          fill: $brown;
        }
      }
    }
    .menu-list-item a span.text {
      margin-bottom: 4px;
    }
    .menu-list-item a span.icon {
      margin-right: 0.4rem;
    }
  }

  .menu-botom-hr {
    border: none;
    height: 2px;
    background: $gray-5;
    margin-bottom: 14px;
  }

  .production-catalog-greed {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin-bottom: 30px;
    gap: 20px 30px;

    @include md {
      margin-bottom: 55px;
    }
  }

  .catalog-card {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: space-between;
    padding: 12px;
    padding-bottom: 12px;
    height: 380px;
    flex: 1 0 100%;
    border: 2px solid #bdbdbd;

    @include md {
      flex: 1 0 calc(50% - 30px);
      max-width: 50%;
    }

    @include lg {
      flex: 1 0 calc(25% - 30px);
      max-width: 280px;
    }

    &__image {
      @include flex-all-center;
      height: 260px;
      overflow: hidden;
      margin-bottom: 21px;
      position: relative;

      img {
        object-fit: cover;
        width: 100%;
      }

      .marker-wrapper {
        position: absolute;
        top: 0;
        left: 0;
        border: 50px solid transparent;

        &.soon {
          border-left-color: $blue;
          border-top-color: $blue;
        }
        &.stock {
          border-left-color: $green;
          border-top-color: $green;
        }
        &.new {
          border-left-color: $brown;
          border-top-color: $brown;
        }
      }

      .marker-text {
        position: absolute;
        left: 0;
        top: 0;
        display: flex;
        color: $white;
        font-weight: 700;
        font-size: 14px;
        line-height: 17px;
        max-width: 100px;

        &.soon {
          transform: translate(-13%, 60%) rotate(-45deg);
        }

        &.stock {
          transform: translate(15%, 160%) rotate(-45deg);
        }

        &.new {
          transform: translate(0%, 160%) rotate(-45deg);
        }
      }
    }

    .title,
    .subtitle {
      font-weight: 600;
      font-size: 19px;
      line-height: 24px;
      color: $blue;
      @include clampLine(2);
    }

    .subtitle {
      color: $brown;
    }
  }

  & .catalog-card:hover {
    border-color: $blue;

    .title {
      color: $blue;
    }
  }

  &.production-catalog--v1 {
    #logoSlider .slide--v1 img {
      filter: grayscale(0);
    }

    .production-catalog-menu .menu-list-item a:hover {
      color: $green-2;

      svg path {
        fill: $green-2;
      }
    }

    & .catalog-card:hover {
      border-color: $green-2;
  
      .title {
        color: $green-2;
      }
    }
  }
  
  &.production-catalog--v2 {
    #logoSlider .slide--v2 img {
      filter: grayscale(0);
    }
  
    & .catalog-card:hover {
      border-color: $blue;
  
      .title {
        color: $blue;
      }
    }
  }
  
  &.production-catalog--v3 {
    #logoSlider .slide--v3 img {
      filter: grayscale(0);
    }

    .production-catalog-menu .menu-list-item a:hover {
      color: $orange-2;

      svg path {
        fill: $orange-2;
      }
    }
  
    & .catalog-card:hover {
      border-color: $orange-2;
  
      .title {
        color: $orange-2;
      }
    }
  }
  
  &.production-catalog--v4 {
    #logoSlider .slide--v4 img {
      filter: grayscale(0);
    }

    .production-catalog-menu .menu-list-item a:hover {
      color: $brown;

      svg path {
        fill: $brown;
      }
    }
  
    & .catalog-card:hover {
      border-color: $brown;
  
      .title {
        color: $brown;
      }
    }
  }
}


