.product-item-page {
  .product-item-title {
    color: $blue;
    margin: 1rem 0;
    margin-top: 0;
    display: none;
    
    @include lg {
      display: block;
    }

    &.show-mobile {
      display: flex;
      justify-content: center;
      margin-top: 1rem;

      @include lg {
        display: none;
      }
    }
  }

  .product-item-info-wrapper {
    display: grid;
    grid-template-columns: minmax(auto, 100%);
    align-items: center;
    margin-bottom: 35px;
    gap: 30px;

    @include lg {
      grid-template-columns: minmax(auto, 500px) 1fr;
    }

    @include xl {
      gap: 45px;
    }

    .product-image-slider {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 20px;

      @include lg {
        gap: 30px;
        align-items: initial;
      }
    }

    #productBigImage {
      min-height: 300px;
      max-height: 500px;
      cursor: pointer;
    }

    #productSmallImage {
      align-self: baseline;

      @include sm {
        align-self: inherit;
      }

      .slick-track {
        margin: 0 -7px;

        .slick-slide {
          padding: 0 7px;
        }
      }
      
      .slide {
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;

        img {
          width: 100%;
          height: 100%;
          object-fit: contain;
        }
      }
    }    

    #productBigImage,
    #productSmallImage {
      width: 100%;
      max-width: 500px;

      @include lg {
        width: auto;
        max-width: 100%;
      }
    }

    .product-item-table {
      .table {
        display: flex;
        flex-direction: column;
        border: 2px solid $gray-5;
        margin-bottom: 11px;

        @include md {
          margin-bottom: 30px;
        }

        @include xl {
          margin-bottom: 0;
        }

        .table-row {
          display: flex;
          flex-direction: row;

          @include without-last {
            border-bottom: 2px solid $gray-5;
          }

          &--custom {
            width: 100%;
            flex-direction: column;

            @include md {
              flex-direction: row;
            }
          }
        }

        .table-col {
          display: flex;
          flex-direction: column;
          font-size: 14px;
          line-height: 17px;
          letter-spacing: -0.02em;
          @include flex-h-center;

          &-1 {
            flex: 1 0 71px;
            @include flex-v-center;
            height: 64px;
            border-right: 2px solid $gray-5;
          }

          &-2 {
            flex: 1 1 auto;
            font-weight: 600;
            @include flex-v-center;

            @include md {
              flex: 0 1 180px;
              align-items: flex-start;
              padding-left: 10px;
            }
          }

          &-3 {
            flex: 1 1 auto;
            @include flex-v-center;
            text-align: center;
            color: $blue;

            @include md {
              text-align: start;
              align-items: flex-start;
              padding-left: 21px;
            }
          }
        }

        &__download-btn {
          display: flex;

          background-color: $blue;
          font-size: 14px;
          line-height: 17px;
          color: $white;
          border: 2px solid transparent;
          padding: 6px 16px;
          border-radius: 6px;

          transition: all 0.344s;

          svg {
            margin-right: 0.4rem;
          }

          &:hover {
            color: $white;
            background-color: $brown;
            border-color: $brown;

            svg path {
              fill: $white;
            }
          }
        }
      }
    }
  }

  .text-about {
    margin-bottom: 80px;
    text-align: center;
    width: 100%;

    @include md {
      text-align: left;
    }

    @include rwd(1280) {
      margin-left: 40px;
    }
  }

  .menu-botom-hr {
    border: none;
    height: 4px;
    background-color: $gray-5;
  }

  &__arrows {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
    flex-wrap: wrap;

    a.to-catalog {
      display: block;
      font-weight: 700;
      font-size: 14px;
      line-height: 17px;
      color: $blue;
      border: 2px solid $blue;
      padding: 1rem 2rem;
      align-self: center;
      border-radius: 5px;
      transition: all 0.344s;

      &:hover {
        color: $white;
        background: $blue;
        border: 2px solid transparent;
      }
    }

    .arrow {
      display: flex;
      flex-direction: column;
      justify-content: center;
      position: relative;
      padding: 0 26px;
      cursor: pointer;

      i {
        margin-bottom: 0.5rem;
      }

      b {
        color: $blue;
      }

      span {
        position: absolute;
        transform: translateY(-50%);
        top: 50%;
        left: 0;
      }

      &.prev span {
        transform: translateY(-50%) rotate(180deg);
      }

      &.next {
        text-align: right;

        span {
          left: auto;
          right: 0;
        }
      }
    }
  }
}