<div class="price-list__item">
  <div class="item-row">
    <div class="item-col id-number">
      <div class="item-head hide-desktop">№ п.п</div>
      <div class="item-body">@@No</div>
    </div>
    <div class="item-col img">
      <div class="item-head hide-desktop">Изображение</div>
      <div class="item-body">
        <img src="@@image" alt="">
      </div>
    </div>
    <div class="item-col ">
      <div class="item-head hide-desktop">Наименование продукции</div>
      <div class="item-body description">@@name</div>
    </div>
  </div>

  <div class="item-row dfss-modify">
    <div class="item-col">
      <div class="item-head hide-desktop">Срок годности</div>
      <div class="item-body">@@bestDate</div>
    </div>
    <div class="item-col">
      <div class="item-head hide-desktop">Ед. изм </div>
      <div class="item-body">@@unit</div>
    </div>
  </div>

  <div class="item-row dfss-modify">
    <div class="item-col">
      <div class="item-head hide-desktop">Склад изготовителя</div>
      <div class="item-body">@@warehouse</div>
    </div>
    <div class="item-col ">
      <div class="item-head hide-desktop">Франко-станция назначения</div>
      <div class="item-body">@@station</div>
    </div>
  </div>
</div>