<div id="logoSlider">
  <div>
    <div class="slide slide--v1">
      <img src="../assets/logos-1.png" alt="">
    </div>
  </div>
  <div>
    <div class="slide slide--v2">
      <img src="../assets/logos-2.png" alt="">
    </div>
  </div>
  <div>
    <div class="slide slide--v3">
      <img src="../assets/logos-3.png" alt="">
    </div>
  </div>
  <div>
    <div class="slide slide--v4">
      <img src="../assets/logos-4.png" alt="">
    </div>
  </div>
  <div>
    <div class="slide">
      <img src="../assets/logos-6.png" alt="">
    </div>
  </div>
</div>