<div id="logoSlider">
  <div>
    <div class="slide">
      <img src="./assets/sliderlogo-1.png" alt="slideritemlogobrend-#1">
    </div>
  </div>
  <div>
    <div class="slide">
      <img src="./assets/sliderlogo-2.png" alt="slideritemlogobrend-#1">
    </div>
  </div>
  <div>
    <div class="slide">
      <img src="./assets/sliderlogo-3.png" alt="slideritemlogobrend-#1">
    </div>
  </div>
  <div>
    <div class="slide">
      <img src="./assets/sliderlogo-4.png" alt="slideritemlogobrend-#1">
    </div>
  </div>
  <div>
    <div class="slide">
      <img src="./assets/sliderlogo-5.png" alt="slideritemlogobrend-#1">
    </div>
  </div>
</div>