<div id="mainSlider">
  <div>
    <div class="main-slide-item">
      <h1>ОАО <br>
        “Лунинецкий МЗ”</h1>
      <p class="main-slide-item__text">Польза вкуса</p>

      <div class="main-slide-item__image">
        <picture>
          <source media="(min-width: 1200px)"
                  srcset="./assets/img/main-slider-xl.jpg">
          <source media="(min-width: 768px)"
                  srcset="./assets/img/main-slider-md.jpg">
          <source srcset="./assets/img/main-slider-sm.jpg">
          <img src="assets/img/main-slider-xl.jpg" alt=""/>
        </picture>
      </div>
    </div>
  </div>

  <div>
    <div class="main-slide-item">
      <h1>ОАО <br>
        “Лунинецкий МЗ”</h1>
      <p class="main-slide-item__text">Польза вкуса</p>

      <div class="main-slide-item__image">
        <picture>
          <source media="(min-width: 1200px)"
                  srcset="./assets/img/main-slider-xl.jpg">
          <source media="(min-width: 768px)"
                  srcset="./assets/img/main-slider-md.jpg">
          <source srcset="./assets/img/main-slider-sm.jpg">
          <img src="assets/img/main-slider-xl.jpg" alt=""/>
        </picture>
      </div>
    </div>
  </div>

  <div>
    <div class="main-slide-item">
      <h1>ОАО <br>
        “Лунинецкий МЗ”</h1>
      <p class="main-slide-item__text">Польза вкуса</p>

      <div class="main-slide-item__image">
        <picture>
          <source media="(min-width: 1200px)"
                  srcset="./assets/img/main-slider-xl.jpg">
          <source media="(min-width: 768px)"
                  srcset="./assets/img/main-slider-md.jpg">
          <source srcset="./assets/img/main-slider-sm.jpg">
          <img src="assets/img/main-slider-xl.jpg" alt=""/>
        </picture>
      </div>
    </div>
  </div>
</div>