<div id="managmentStuff">
  <div>
    <div class="slide">
      @@include('../../components/Management/index.html', {
        'image': './assets/img/ms1.jpg',
        'name': 'Чиботарь Руслан Иванович',
        'title': 'Директор',
        'text': 'Профессионал, прошедший все ступени производства, от сыродела до руководителя. Человек своего дела с уверенным взглядом в будущее.',
      })
    </div>
  </div>
  <div>
    <div class="slide">
      @@include('../../components/Management/index.html', {
        'image': './assets/img/ms2.jpg',
        'name': 'Токарь Николай Николаевич',
        'title': 'Первый заместитель директора',
        'text': 'Профессионал, прошедший все ступени производства, от сыродела до руководителя. Человек своего дела с уверенным взглядом в будущее.',
      })
    </div>
  </div>
  <div>
    <div class="slide">
      @@include('../../components/Management/index.html', {
        'image': './assets/img/ms3.jpg',
        'name': 'Грень Эдуард Иванович',
        'title': 'Главный инженер',
        'text': 'Профессионал, прошедший все ступени производства, от сыродела до руководителя. Человек своего дела с уверенным взглядом в будущее.',
      })
    </div>
  </div>
  <div>
    <div class="slide">
      @@include('../../components/Management/index.html', {
        'image': './assets/img/ms1.jpg',
        'name': 'Чиботарь Руслан Иванович',
        'title': 'Директор',
        'text': 'Профессионал, прошедший все ступени производства, от сыродела до руководителя. Человек своего дела с уверенным взглядом в будущее.',
      })
    </div>
  </div>
  <div>
    <div class="slide">
      @@include('../../components/Management/index.html', {
        'image': './assets/img/ms2.jpg',
        'name': 'Токарь Николай Николаевич',
        'title': 'Первый заместитель директора',
        'text': 'Профессионал, прошедший все ступени производства, от сыродела до руководителя. Человек своего дела с уверенным взглядом в будущее.',
      })
    </div>
  </div>
  <div>
    <div class="slide">
      @@include('../../components/Management/index.html', {
        'image': './assets/img/ms3.jpg',
        'name': 'Грень Эдуард Иванович',
        'title': 'Главный инженер',
        'text': 'Профессионал, прошедший все ступени производства, от сыродела до руководителя. Человек своего дела с уверенным взглядом в будущее.',
      })
    </div>
  </div>
</div>