<div id="sliderProduct">
  <div>
    <div class="slide">
      <a href="#">
        <div class="slide__img">
          <img src="./assets/img/big-img-product.jpg" alt="" />
        </div>
        <h4>Питьевое молоко А2 3,6%</h4>
      </a>
    </div>
  </div>
  <div>
    <div class="slide">
      <a href="#">
        <div class="slide__img">
          <img src="./assets/img/big-img-product.jpg" alt="" />
        </div>
        <h4>Питьевое молоко А2 3,6%</h4>
      </a>
    </div>
  </div>
  <div>
    <div class="slide">
      <a href="#">
        <div class="slide__img">
          <img src="./assets/img/big-img-product.jpg" alt="" />
        </div>
        <h4>Питьевое молоко А2 3,6%</h4>
      </a>
    </div>
  </div>
  <div>
    <div class="slide">
      <a href="#">
        <div class="slide__img">
          <img src="./assets/img/big-img-product.jpg" alt="" />
        </div>
        <h4>Питьевое молоко А2 3,6%</h4>
      </a>
    </div>
  </div>
</div>
