<div id="sliderProduct">
  <div>
    <div class="slide">
      <div class="slide__img">
        <img src="./assets/img/syr-1.jpg" alt="">
      </div>
      <h4>Сыр “Мондор Grano” 50% </h4>
      <p>Твердые сыры</p>
    </div>
  </div>
  <div>
    <div class="slide">
      <div class="slide__img">
        <img src="./assets/img/syr-2.jpg" alt="">
      </div>
      <h4>Сыр “Гроссмейстер” 50% </h4>
      <p>Полутвердые сыры</p>
    </div>
  </div>
  <div>
    <div class="slide">
      <div class="slide__img">
        <img src="./assets/img/syr-1.jpg" alt="">
      </div>
      <h4>Сыр “Мондор Grano” 50% </h4>
      <p>Твердые сыры</p>
    </div>
  </div>
  <div>
    <div class="slide">
      <div class="slide__img">
        <img src="./assets/img/syr-2.jpg" alt="">
      </div>
      <h4>Сыр “Гроссмейстер” 50% </h4>
      <p>Полутвердые сыры</p>
    </div>
  </div>
</div>