<div id="sliderProduct">
  <div>
    <div class="slide">
      <div class="slide__img">
        <img src="./assets/img/big-img-product.jpg" alt="">
      </div>
      <h4>Питьевое молоко А2 3,6%</h4>
    </div>
  </div>
  <div>
    <div class="slide">
      <div class="slide__img">
        <img src="./assets/img/big-img-product.jpg" alt="">
      </div>
      <h4>Питьевое молоко А2 3,6%</h4>
    </div>
  </div>
  <div>
    <div class="slide">
      <div class="slide__img">
        <img src="./assets/img/big-img-product.jpg" alt="">
      </div>
      <h4>Питьевое молоко А2 3,6%</h4>
    </div>
  </div>
  <div>
    <div class="slide">
      <div class="slide__img">
        <img src="./assets/img/big-img-product.jpg" alt="">
      </div>
      <h4>Питьевое молоко А2 3,6%</h4>
    </div>
  </div>
</div>