<div class="production-list-card">
  <div class="list-wrapper">
    <div class="list-image">
      <img src="@@image" alt="image title" >
    </div>

    <ul class="list-menu list-reset">
      <li><a href="#">СТАКАНЧИК</a></li>
      <li><a href="#">СМЕСЬ</a></li>
      <li><a href="#">ЭСКИМО</a></li>
      <li><a href="#">СТАКАН</a></li>
      <li><a href="#">ПАКЕТ</a></li>
      <li><a href="#">ВЕСОВОЕ</a></li>
    </ul>
  </div>

  <h3 class="production-list-card__title">
    @@title

    <div class="list-item-counter">
      <span class="counter"></span>
    </div>
  </h3>
</div>