<header class="header">
  <div class="header__wrapper">
    <button class="burger" aria-label="Открыть меню" aria-expanded="false"  data-burger>
      <span class="burger__line"></span>
    </button>

    <div class="logo">
      <a href="#">
        <img src="./assets/logo-main.png" alt="">
      </a>
    </div>
  
    
    <div class="menu-wrapper">
      <nav class="nav" id="headerNav">
        <ul class="nav__list list-reset">
          <li class="nav__item">
            <a href="#" class="nav__link">
              Главная
            </a>
  
            <ul class="drop-down-nav-item list-reset">
              <li><a href="#">История</a></li>
              <li><a href="#">Производство</a></li>
              <li><a href="#">Миссия </a></li>
              <li><a href="#">Политика</a></li>
              <li><a href="#">Достижения</a></li>
              <li><a href="#">Фотогалерея</a></li>
              <li><a href="#">Видео</a></li>
              <li><a href="#">Почему мы лучшие?</a></li>
            </ul>
          </li>
          
          <li class="nav__item">
            <a href="#" class="nav__link">
              Компания
            </a>
          </li>
          
          <li class="nav__item">
            <a href="#" class="nav__link">
              Продукция
            </a>
          </li>
          
          <li class="nav__item">
            <a href="#" class="nav__link">
              Новости
            </a>
          </li>
          
          <li class="nav__item">
            <a href="#" class="nav__link">
              Информация
            </a>
          </li>
          
          <li class="nav__item">
            <a href="#" class="nav__link">
              Контакты
            </a>
          </li>
        </ul>
      </nav>
    </div>
  
    <div class="lang-search-wrapper">
      <ul class="language list-reset">
        <li><a href="#"><img src="./assets/lang-ru.png" alt="lang-ru"></a></li>
        <li><a href="#"><img src="./assets/lang-ch.png" alt="lang-ch"></a></li>
        <li><a href="#"><img src="./assets/lang-en.png" alt="lang-en"></a></li>
      </ul>
    </div>

    <button class="btn-reset submenu-header">
      <span class="submenu-header__dots"></span>
    </button>
  </div>
</header>