<nav class="section-menu">
  <ul class="section-menu__list list-reset">
    <li class="section-menu__item">
      <a href="#">История</a>
    </li>
    <li class="section-menu__item">
      <a href="#">Производство</a>
    </li>
    <li class="section-menu__item">
      <a href="#">Миссия</a>
    </li>
    <li class="section-menu__item active">
      <a href="#">Политика</a>
    </li>
    <li class="section-menu__item">
      <a href="#">Достижения</a>
    </li>
    <li class="section-menu__item">
      <a href="#">Фотогалерея</a>
    </li>
    <li class="section-menu__item">
      <a href="#">Видео</a>
    </li>
    <li class="section-menu__item">
      <a href="#">Почему мы лучшие?</a>
    </li>
  </ul>
</nav>