<footer class="footer">
  <div class="wrapper__social">
    <div class="container">
      <div class="social">
        <h3 class="social__title">
          Присоединяйся к нам:
        </h3>
        <div class="social__list">
          <a href="#" target="_blank" rel="noopener noreferrer">
            @@include('../../assets/instagram.svg')
          </a>
          <a href="#" target="_blank" rel="noopener noreferrer">
            @@include('../../assets/youtube.svg')
          </a>
          <a href="#" target="_blank" rel="noopener noreferrer">
            @@include('../../assets/vk.svg')
          </a>
          <a href="#" target="_blank" rel="noopener noreferrer">
            @@include('../../assets/ok.svg')
          </a>
        </div>
      </div>
    </div>
  </div>

  <div class="wrapper__navigate">
    <div class="container">
      <div class="navigate">
        <div class="navigate__connect">
          <p class="title">Связаться:</p>
  
          <ul class="contacts">
            <li class="contacts__item item--phone">
              <span>@@include('../../assets/phone.svg')</span>
              <a href="tel:+375164222321">+375 1642 2-23-21</a>
            </li>
            <li class="contacts__item item--message">
              <span>@@include('../../assets/comments.svg')</span>
              <a href="mailto:kbrmsz@brest.by">kbrmsz@brest.by</a>
            </li>
          </ul>
  
          <a href="#" class="footer-btn btn-white">Написать</a>
        </div>
        <div class="navigate__links">
          <p>Быстрые ссылки:</p>
  
          <ul class="footer-nav list-reset">
            <li><a href="#">Компания</a></li>
            <li><a href="#">Продукция</a></li>
            <li><a href="#">Новости</a></li>
            <li><a href="#">Информация</a></li>
            <li><a href="#">Контакты</a></li>
          </ul>
        </div>
        <div class="navigate__address">
          <div class="location">
            <span>@@include('../../assets/address.svg')</span>
            <a class="location__link" href="#">Республика Беларусь, 
              225304, Брестская область,
              г. Кобрин, ул. Советская, 128.
              УНП 200093343</a>
          </div>
          <div class="logo">
            @@include('../../assets/logo-transparent.svg')
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="wrapper__copyright">
    <div class="container">
      <p class="copyright-text centered">© 2022 ОАО "Кобринский маслодельно-сыродельный завод"</p>
    </div>
  </div>
</footer>