*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.page {
  height: 100%;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  color: $gray-2;
  letter-spacing: -0.015em;
}

.page__body {
  min-height: 100%;
  font-size: 14px;
  line-height: 17px;

  &.scroll {
    padding-top: 70px;
  }

  &.open {
    overflow: hidden;

    &::after {
      content: '';
      position: fixed;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      background-color: #bdbdbd8b;
    }
  }
}

.main-wrapper {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

main {
  flex-direction: column;
  flex: 1 0 auto;
}

.main {
  position: relative;
}

footer {
  flex: 0 0 auto;
}

img {
  height: auto;
  max-width: 100%;
  object-fit: cover;
}

a {
  text-decoration: none;
  color: $gray-2;

  @include hover {
    color: $blue;
  }
}

a.btn-default, button.btn-default {
  color: $blue;
  border-color: $blue;
  background-color: $white;
  transition: all 0.344s;

  &:hover {
    border-color: transparent;
    background-color: $blue;
    color: $white;
  }
}

ul {
  list-style: none;

  li {
    padding-left: 35px;
    position: relative;
    margin-bottom: 30px;

    &::before{
      content: url('../assets/svg/list-decore.svg');
      position: absolute;
      top: 3px;
      left: 0px;
    }
  }
}

ol {
  padding-left: 1rem;

  li {
    padding-left: 0.5rem;
    margin-bottom: 0.3rem;
  }
}

hr {
  border: 1px solid $gray-5;
}

.card {
  background-color: $white;
  border: 3px solid #bdbdbd;
  border-radius: 12px;
}

.card_shadow {
  background-color: $white;
  box-shadow: 0px 0px 20px 4px rgba(0, 0, 0, 0.12);
  border-radius: 22px;
}

.is-hidden {
  display: none !important;
}

.btn-reset {
  border: none;
  padding: 0;
  background: transparent;
  cursor: pointer;
}

.btn-max {
  font-weight: 700;
  font-size: 22px;
  line-height: 17px;
  text-align: center;
  width: 308px;
  border: 3px solid $gray-2;
  border-radius: 12px;
  padding: 30px 0;
  color: $gray-2;

  @include hover {
    background-color: $blue;
    border-color: $blue;
    color: $white;
  }
}

.list-reset {
  list-style: none;
  margin: 0;
  padding: 0;

  li {
    padding-left: inherit;
    margin-bottom: inherit;
    &:before {
      display: none;
    }
  }
}

.input-reset {
  -webkit-appearance: none;
  appearance: none;
  border: none;
  border-radius: 0;
  background-color: $white;
  outline: none;

  &::-webkit-search-decoration,
  &::-webkit-search-cancel-button,
  &::-webkit-search-results-button,
  &::-webkit-search-results-decoration {
    display: none;
  }
}

.visually-hidden {
  position: absolute;
  overflow: hidden;
  margin: -1px;
  border: 0;
  padding: 0;
  width: 1px;
  height: 1px;
  clip: rect(0 0 0 0);
}

.fluid-wrapper {
  width: 100%;

  .container {
    padding: 0;
    
    @include md {
      padding: 0 34px;
    }
  }
}

.container {
  padding: 0 10px;
  margin-left: auto;
  margin-right: auto;
  width: 100%;

  // 768px window width and more
  @include md {
    padding: 0 34px;
    max-width: 768px;
  }

  // 992px window width and more
  @include lg {
    max-width: 1280px;
  }
  
  &.container--xl {
    @include xl {
      max-width: 1570px;
    }
  }
}

.js-focus-visible :focus:not(.focus-visible) {
  outline: none;
}

.centered {
  text-align: center;
}

.dis-scroll {
  position: fixed;
  left: 0;
  top: 0;
  overflow: hidden;
  width: 100%;
  height: 100vh;
  overscroll-behavior: none;
}

.page--ios .dis-scroll {
  position: relative;
}

.bg-gray-6 {
  background-color: $gray-6;
}

.color-white {
  color: $white;
}
.color-blue {
  color: $blue;
}


@for $i from 1 through 7 {
  .mt-#{$i} {
    margin-top: calc(#{$i} * 10px);
  }
  .mb-#{$i} {
    margin-bottom: calc(#{$i} * 10px);
  }
  .pt-#{$i} {
    padding-top: calc(#{$i} * 10px);
  }
  .pb-#{$i} {
    padding-bottom: calc(#{$i} * 10px);
  }
}

@for $i from 1 through 5 {
  .z-#{$i} {z-index: #{$i}};
}

.m-0 {
  margin: 0 !important;
}

.uppercase {
  text-transform: uppercase;
}

.layout {
  display: flex;
  flex-direction: column-reverse;
  
  &__content {
    display: flex;
    flex-direction: column;
    margin-right: 0;
    
    @media screen and (min-width: 1200px) {
      margin-right: calc(5vw - 1rem);
    }
    
    @include xl {
      margin-right: 90px;
    }
  }

  &__nav {
    display: flex;
    flex-direction: column;
    border-bottom: 2px solid #C4C4C4;
    padding-bottom: 32px;
    margin-bottom: 19px;

    @include xl {
      border-bottom-color: transparent;
      padding-bottom: 0;
      margin-bottom: 0;
    }
  }

  @include xl {
    flex-direction: row;
    padding-top: 60px;
    margin-bottom: 70px;
  }
}

.bottom-space-5 {
  margin-bottom: 25px;
  
  @include md {
    margin-bottom: 50px;
  }
}

.position-relative {
  position: relative;
}
