
#logoSlider {
  padding: 20px 0 35px;

  .slide {
    @include flex-all-center;

    width: 185px;
    height: 120px;
    
    margin: 0 auto;
    border: 1px solid $gray-4;
    cursor: pointer;

    a {
      display: block;
      padding: 0 10px;
    }

    img {
      filter: grayscale(1);
    }

    &:hover img {
      filter: grayscale(0);
    }
  }

  .slick-dots {
    margin-top: 10px;
  }
}

.wrapper-logo-slider {
  padding: 35px 0;
}

.fluid-wrapper.bg-slider-logo {
  background-color: $gray-5;

  & #logoSlider .slide {
    border-color: $white;
  }
}
