.fluid-wrapper.bg-slider-logo {
  background-image: url('../assets/sliderlogobg-3.jpg');
  @include bg-cover;
  
  @include md {
    background-image: url('../assets/sliderlogobg-2.jpg');
  }
  
  @include xl {
    background-image: url('../assets/sliderlogobg-1.jpg');
  }
}

#logoSlider {
  padding: 76px 0 94px;

  .slide {
    width: 212px;
    height: 130px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    border: 1px solid rgba(255, 255, 255, 0.34);
  }

  .slick-dots {
    margin-top: 21px;
    
  }
}