.fluid-wrapper.bg-slider-logo {
  background-color: $gray-5;
}

#logoSlider {
  padding: 20px 0 35px;

  .slide {
    @include flex-all-center;

    width: 185px;
    height: 120px;
    
    margin: 0 auto;
    border: 1px solid $white;
    cursor: pointer;

    img {
      filter: grayscale(1);
    }

    &:hover img {
      filter: grayscale(0);
    }
  }

  .slick-dots {
    margin-top: 21px;
  }
}
