#mainSlider {
  display: flex;

  .slick-dots {
    bottom: 61px;
  }

  .main-slide-item {
    height: 178px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: $white;
    position: relative;

    p, h1 {
      z-index: 2;
    }

    &__image {
      position: absolute;
      // top: 0;
      // left: 0;
      width: 100%;
      height: 100%;

      img {
        width: 100%;
        height: 100%;
      }
    }

    &__text {
      font-weight: 500;
      font-size: 12px;
      line-height: 14px;
    }

    h1 {
      font-weight: 700;
      font-size: 34px;
      line-height: 41px;
      margin: 22px 0;
    }

    @include md {
      height: 305px;

      &__text-1 {
        font-size: 15px;
        line-height: 17px;
      }
      &__text-2 {
        font-size: 20px;
        line-height: 23px;
      }

      h1 {
        font-size: 50px;
        line-height: 61px;
      }
    }

    @include xl {
      height: 755px;

      &__text-1 {
        font-size: 28px;
        line-height: 32px;
      }
      &__text-2 {
        font-size: 40px;
        line-height: 45px;
      }

      h1 {
        font-size: 90px;
        line-height: 110px;
        margin: 40px 0;
      }
    }
  }
}
