#managmentStuff {
  /* the slides */
  .slick-slide {
    margin: 0 5px;
  }

  .management-card {
    margin: 0 auto;
  }

  .slick-dots {
    bottom: -34px;
    
    @include md {
      bottom: -56px;
    }
    @include lg {
      bottom: -74px;
    }

    li {
      background-color: #828282;
      margin-right: 12px;
      width: 24px;
      height: 24px;

      @include lg {
        margin-right: 18px;
      }

      &:hover {
        background-color: $orange;
      }
    }

    .slick-active {
      background-color: $orange;
    }
  }

  /* the parent */
  .slick-list {
    margin: 0 -5px;
  }
}
