#sliderProduct {
  .slick-dots {
    bottom: -50px;

    li {
      margin-right: 12px;
    }

    @include md {
      bottom: -75px;

      li {
        margin-right: 18px;
      }
    }
  }
  .slide {
    padding: 0 10px;
    text-align: center;
    transition: all 0.356s;

    &:hover {
      img {
        transition: all 0.356s;
        scale: 0.985;
      }

      h4 {
        text-decoration: underline;
      }
    }

    &__img {
      margin-bottom: 38px;
      padding: 10px;
      border: 1px solid $white;

      img {
        width: 100%;
      }

      @include md {
        margin-bottom: 18px;
      }
    }

    h4 {
      font-weight: 600;
      font-size: 20px;
      line-height: 24px;
      color: $white;
      margin-bottom: 29px;

      @include md {
        margin-bottom: 14px;
      }
    }

    p {
      font-size: 18px;
      line-height: 22px;
      color: $gray-5;

      @include md {
        font-size: 18px;
        line-height: 22px;
      }
    }
  }
}

.fluid-wrapper.bg-slider-logo-1 {
  background-image: url("../assets/prod-bg-blue.jpg");
  @include bg-cover;
  padding-top: 32px;
  padding-bottom: 92px;

  @include md {
    padding-top: 40px;
    padding-bottom: 100px;
  }
}
